.container{
  background-color: #fff2d3;
}
#heart{
  color: #f442bc;
}
footer{
  background-color: #f4c242;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 5%;
}
